<a href="https://colab.research.google.com/github/Wayodeni/university/blob/main/Tasks/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *Свиридов Лев Георгиевич*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [ ]:
print("Добро пожаловать в мир Python!")

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [ ]:
print(15 + 27)

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [ ]:
name = input()
print(name)

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [ ]:
for i in ("str1", "str2", "str3"):
  print(i)

str1
str2
str3

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [ ]:
num_1 = int(input())
num_2 = int(input())
print(f"{num_1} + {num_2} = {num_1 + num_2}")

7
7
7 + 7 = 14

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [ ]:
from functools import reduce

print(reduce(lambda i, j: i * j, [int(input()) for i in range(3)]))

1
2
3
6

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [ ]:
fio = input("Введите свое ФИО (через пробел)").split()
print(f"{fio[0]} {fio[1][0].capitalize()}. {fio[2][0].capitalize()}.")

Введите свое ФИО (через пробел)Свиридов Лев Георгиевич
Свиридов Л. Г.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [ ]:
symb = input("Введите символ: ")
strg = input("Введите строку: ")

print(strg.count(symb))

Введите символ: a
Введите строку: aabcd
2

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [ ]:
print(f"{input("Введите свой любимый цвет: ")} - красивый цвет!")

Введите свой любимый цвет: Green
Green - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [ ]:
print(len(input("Введите строку для вычисления длины: ")))

Введите строку для вычисления длины: print len
9

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [ ]:
v: int = 42
print(v)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [ ]:
print(int((17 * 3) + (10 / 2)))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [ ]:
print(int("100") + 25)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [ ]:
v = 7
if type(v) is int:
  print("Переменная типа int!")
else:
  print(f"Переменная типа {type(v)}")

Переменная типа int!

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [ ]:
v1 = 7
v2 = 10

print(v2 - v1)

3

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [ ]:
print(float(input("Введите вещественное число: "))**2)

Введите вещественное число: 2.56
6.5536

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [ ]:
print(f"{float(input("Введите вещественное число: ")):.2f}")

Введите вещественное число: 2.567
2.57

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [ ]:
print(float(2.5) + float(4.7))

7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [ ]:
print(float(input("Введите градусы цельсия: ")) * 9/5 + 32)

Введите градусы цельсия: 30
86.0

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [ ]:
width = float(input())
height = float(input())

per = 2 * (width + height)
squ = width * height

print(squ, per)

1
2
2.0 6.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [ ]:
print("Python - самый популярный язык программирования")

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [ ]:
s = "Привет, мир!"
print(s[0], s[-1])

П !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [ ]:
print("".join(("МИИГАиК - " , "Лучший ", "ВУЗ!")))

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [ ]:
print(type(int("12345")))

<class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [ ]:
print("python is Fun".upper())

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [ ]:
print([i for i in range(10, 51, 10)])

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [ ]:
l = []
l.append("новый элемент")
print(l)

['новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [ ]:
l = ['python', 'java', 'c++', 'ruby', 'perl']
print(l[2:4+1])

['c++', 'ruby', 'perl']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [ ]:
l = []
l.extend(["one", "two", "three"])
print(l)

['one', 'two', 'three']

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [ ]:
l = [1, 2, 3, 4, 5]
l[1] = 200
print(l)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [ ]:
print(tuple([1, 2, 3, 4, 5]))

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [1]:
t = (1, 2)
t[0] = 200
print(t)

# Кортеж - неизменяемый список

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [3]:
t = (1, 2)

print("".join([str(i) for i in t]))

12

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [4]:
t = (1, 2, 3)
elem = 2

if elem in t:
  print(f"{elem} in {t} found!")
else:
  print(f"{elem} in {t} not found!")

2 in (1, 2, 3) found!

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [5]:
t = (1, 1, 2, 3, 4)
elem = 1
print(t.count(elem))

2

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [6]:
d = {"имя": "Лев", "возраст": 22, "город": "Москва"}
print(d)

{'имя': 'Лев', 'возраст': 22, 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [7]:
print(d.get("имя", ""))

Лев

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [9]:
d["профессия"] = "Программист"
print(d)

{'имя': 'Лев', 'возраст': 22, 'город': 'Москва', 'профессия': 'Программист'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [11]:
del d["город"]

print(d)

{'имя': 'Лев', 'возраст': 22, 'профессия': 'Программист'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [13]:
d = dict()
k = input("Введите ключ для значения в словаре: ")
v = input("Введите значение для ключа в словаре: ")
d[k] = v
print(d)

Введите ключ для значения в словаре: key
Введите значение для ключа в словаре: value
{'key': 'value'}